/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    background-color: #fff;
}


.row, #holder
{
    position: relative;
    margin: auto;
    padding:0 5%;
    width:90%;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
}

footer
{
    position: relative;
    margin: auto;
    padding:10px 5%;
    width:90%;
    height: 14px;
    background-color: #4c4c4c;
    color:#fff;
    font-size:11px;
}

aside
{
    display: none;
}
.row:last-child
{
    border:none;
}

#disqus
{
    background-color: white;
}

/* Header */
header
{
    background-color: #f0523f;
    text-align: center;
}

header a
{
    display: inline-block;
    margin: auto;
    
}

pre
{
   
    -webkit-border-radius:5px;
    border-radius: 5px;
}

code
{
    display: block;
    padding: 5px;
    font-size:12px;
}

/* Article footer */

article aside
{
    display: block;
    padding:13px 0 10px 0;
    width: 100%;
}

ul
{
    margin: 0;
    padding: 5px 0;
    min-height: 20px;
    list-style-type: none;
}

ul li
{
    display: block;
    float:left;
    margin:0 5px 5px 0;
    font-size: 13px;
    line-height: 22px;
}

ul li a
{
    padding:3px 5px;
    -webkit-border-radius:3px;
    background-color: #f0523f;
    color:#fff;
}

ul li a:hover
{
    background-color: #4C4C4C;
    color:white;
}

/* Latest posts */

.latest
{
    padding:0 0 20px 0;
}

.latest li
{
    float:none;
    color:#999;
    font-size:15px;
    line-height: 30px;
}

.latest li a
{
    display: inline;
    background: none;
    color:#f0523f;
}

.latest li a:hover
{
    background: none;
    color:#4C4C4C;
}


.latest span
{
    display: none;
}

/* Text */

h1,h2,h3,h4,h5
{
    color:#4C4C4C;
}

/* Text - Post header */

h1, h2
{  
    margin: 0;
    padding:12px 0 0 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size:28px;
    font-family: Share;
}

h2 a
{
    color:#4C4C4C;
}

h2 a:hover
{
    color:#f0523f;
}

/* Text - Post information */

.postinformation
{
   margin:5px 0 0 0;
   padding:10px 0 15px 0;
   border-top:1px solid #ccc;
   color:#999;
   font-size:13px;
}


/* Text - Body text */
p, article li
{
    padding:0 0 0 0;
    color:#4C4C4C;
    font-size:13px;
    line-height: 22px;
}

a, p a
{
    color:#f0523f;
    text-decoration: none;
}

a:hover
{
    color:#4C4C4C;
}

/* Text - Post navigation */

.postnavigation
{
    position: relative;
    margin:0 0 15px 0;
    width:100%;
    height:43px;
    border-top:2px solid #4c4c4c;
    border-bottom:2px solid #4c4c4c;
}

.previous
{
    position: absolute;
    top:10px;
    left:0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size:18px;
    font-family: Share;
}

.next
{
    position: absolute;
    top:10px;
    right:0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size:18px;
    font-family: Share;
}

/* Post list styling */

.post li
{
    float:none;
    margin:0;
    padding:0;
}

.post ol
{
    margin: 0;
    padding: 0 0 0 22px;
}


/** RECENT TOPICS **/
.recent-topics {
    position: relative;
    display: block;
    margin: 30px 0 10px 0;
    padding:10px 0 7px 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #f0523f;
    font-weight: 400;
    font-size:18px;
    font-family: Share;
}

.recent-topics p:first-child {
    padding-right: 60px;
}

/** BOOKS SECTION **/

.books-with-border {
    position: relative;
    display: block;
}

.books {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;

}

.words {
    position: relative;
    display: block;
    float: left;
}

.words h1 {
    padding:20px 0 0 0;
    color:#4C4C4C;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-size:20px;
    font-family: Share;
}

.words p {
    color: #4C4C4C;
    font-style: oblique;
}

.book {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    margin:0 5% 0 0;
    width:45%;
}

.book .title, .book .author {
    font-size: 12px;
}

.book .title {
    margin-top: 10px;
    font-weight: bold;
}

.book .author {
    font-style: oblique;
}


/** COPY **/

.copy {
    float: left;
}

/** SOCIAL ICONS **/

.social {
    margin: 0;
    padding:4px 0 0 0;
    width:100%;
    height: 30px;
    background-color: #4c4c4c;
}

.social ul {
    position: relative;
    float:right;
    margin:auto;
    padding: 0;
    list-style-type:none;
}

.social ul li {
    display: inline;
    overflow: hidden;
    width: 24px;
    height: 24px;
    text-indent: 100%;
    white-space: nowrap;
}

.social ul li a {
    display: block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background: url(../img/social.png) no-repeat top left;
}

.social ul li a.twitter {
    background-position: -116px 0;
}
.social ul li a.twitter:hover {
    background-position: -145px 0;
}

.social ul li a.github {
    background-position: 0 0;
}
.social ul li a.github:hover {
    background-position: -29px 0;
}

.social ul li a.rss {
    background-position: -58px 0;
}
.social ul li a.rss:hover {
    background-position: -87px 0;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {

body
{
    background-color: #fff;
}

#holder, .row
{
    margin: auto;
    padding:0;
    width:100%;
}

header
{
    margin:0 0 15px 0;
    padding:0 0 5px  0;
    width:100%;
    background-color: #f0523f;
}

header a
{
    padding:0 0 10px 0;
}

footer
{
    margin:50px 0 0 0;
    padding:10px 0;
    width:100%;
}

article
{
    float:left;
    padding:0 3%;
    width:64%;
}

aside
{
    display: block;
    float:left;
    padding:0 0 0 2%;
    width:27%;
    border-left:1px solid #4c4c4c;
}

.tags
{
    border:none;
}

.latest span
{
    display: inline;
}


    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 960px) {
#holder, .row
{
    width:960px;
}
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    overflow: hidden;
    /* IE 6/7 fallback */
    border: 0;
    background-color: transparent;
    *text-indent: -9999px;
}

.ir:before {
    display: block;
    width: 0;
    height: 100%;
    content: "";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    display: table; /* 2 */
    content: " "; /* 1 */
}

.clearfix:after {
    clear: both;
}

.row:before,
.row:after {
    display: table; /* 2 */
    content: " "; /* 1 */
}

.row:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
